<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortener</title>
  </head>
  <body>
    <h1>URL Shortener</h1>
    <form action="" method="POST">
      <label for="fullUrl">URL</label>
      <input type="url" name="fullUrl" id="fullUrl" />
      <button type="submit">Shrink</button>
    </form>

    <table>
      <tr>
        <th>Full URL</th>
        <th>Short URL</th>
        <th>Clicks</th>
      </tr>
      <tr>
        <td>
          <a href="https://hassanmuhashamy.com">https://hassanmuhashamy.com</a>
        </td>
        <td><a href="/hm.com">hm.com</a></td>
        <td>10</td>
      </tr>
    </table>
  </body>
</html>
